<nav class="bg-blue-900 sticky top-0 z-50">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between h-16">
      <div class="flex items-center">
        <img src="/MKDLogo.png" alt="MKDLogo" class="h-8 w-8 mr-2" />
        <span class="font-bold text-xl text-white"
          >Mindanao Kokusai Daigaku</span
        >
      </div>
      <div class="flex items-center space-x-4">
        <a href="/" class="px-3 py-2 text-white font-medium hover:text-blue-800"
          >Home</a
        >
        <a
          href="/programs"
          class="px-3 py-2 text-white font-medium hover:text-blue-600"
          >Programs</a
        >
        <a
          href="/login"
          class="px-3 py-2 text-white font-medium hover:text-blue-600"
          >Login</a
        >
        <a
          href="/signup"
          class="px-3 py-2 text-white font-medium hover:text-blue-600"
          >Signup</a
        >
        <a
          href="/users"
          class="px-3 py-2 text-white font-medium hover:text-blue-600"
          >Admin Portal</a
        >
        <a
          href="/users/new"
          class="bg-blue-600 hover:bg-blue-700 text-white px-4 py-2 rounded-lg transition ease-in-out duration-150"
          >Apply Now</a
        >
      </div>
    </div>
  </div>
</nav>
